{% extends "base.html" %}
{% block title %}Выберите автомобиль{% endblock %}

{% block content %}
{% from "formhelpers.html" import render_field %}
<script src="/static/js/script.js"></script>


<form class="col-sm-offset-1 form-horizontal" action="{{ url_for('choice') }}">
    {{ render_field(form.car) }}
    {{ render_field(form.model) }}
<div class="form-group">
    {{ form.run.label(class="col-sm-4 control-label") }}
    <div class="col-sm-5">
        {{ form.run(class="form-control", required=true, type="number") }}
    </div>
</div>    
    <div class="form-group">
    <div class="col-sm-offset-8 col-sm-6">
        <input type="submit" class="btn btn-default" value="Ok">
    </div>

    </div>
</form>

{% endblock %}
